* {
  font-family: monospace;
  box-sizing: border-box;
}

body {
  font-size: 18px;
}

.form {
  max-width: 350px;
}

.form > * {
  display: block;
  width: 100%;
  margin: 10px 0;
}

.main {
  display: flex;
}

.content {
  flex: 1;
}

.sidebar {
  width: 350px;
  padding-left: 50px;
  flex: 0 0 auto;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin: 5px 0;
}
